body {
    margin:0;
    background:#fff;
    text-align:center;
}

input[type="range"]{
    background:rgb(68,238,255);
    -webkit-appearance:none !important;
    height:5px;
    border-radius:3px;
    border:2px solid #000;
    display:block;
    margin:15px auto;
}

input[type="button"]{
    height:25px;
    width:70px;
    border:none;
    background:#000;
    color:#fff;
    border-radius:6px;
    margin:2px;
    outline:none;
    font-family: 'Lobster', cursive;
}

input[type="button"]:hover{
    background:rgb(0,246,216);
}

h3{
    background:-webkit-linear-gradient(left,rgb(252,33,83),rgb(252,142,83),rgb(42,242,176),rgb(42,181,255),rgb(125,85,255),rgb(249,67,252));
    color:transparent;
     -webkit-background-clip: text;
     background-clip: text;
     font-family: 'Satisfy', cursive;
}
